@import './../../../styles/variables';
.menu__container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.menu__navigation-categories{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    gap: $extra-large-spacing; 
}
.menu__navigation-category{
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center; 
    width: 50%;
    text-align: center; 
}
.menu-template__home-button{
    position: fixed;
    font-size: 1.2rem;
}



$primary-background-color: #030302;
$secondary-background-color: #333333;
$primary-color: #ffac00;
$primary-text-color: white; 
$gap: 6px;
$big-gap: 34px;
$font-size-title: 2.3rem;
$font-size-subtitle: 1.2rem;
$font-size-text: 0.9rem;
$font-size-small-text: 0.7rem;


// Fast Food Category
.menu-template-item__container{
    padding: $base-box-spacig;
    margin: $base-box-spacig;
    border-radius: $standard-border-raius;
}
.menu-template-category__info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu-template-category__image{
    position: relative;
    width: 100%;
}
.menu-template-category__image .img{
    margin: 35px;
    width: 70%;
    border-radius: 50%;
}
.menu-template-category__title {
    display: flex;
    font-size: 1.5rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.menu-template-cateogry__dishes{
    display: flex;
    flex-direction: column;
    gap: $gap;
}

// Fast Food Item
.menu-template-item__container{
    display: flex;
    flex-direction: column;
}
.menu-template-item__summary{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    gap: $gap;
}
.menu-template-item__container p{
    margin: 0px;
}
.menu-template-item__divider{
    width: 100%;
    border-bottom: 3px dotted $primary-text-color;
    position: relative;
    bottom: $gap;
}   
.menu-template-item__name{
    text-align: start;
    text-wrap: nowrap;
}
.menu-template-item__price{
    text-align: end;
}
.menu-template-item__description p{
    text-align: start;
    font-size: 0.8rem;
}
.hide{
    display: none; 
}
.menu-template-item__image img {
    border-radius: $standard-border-raius;
}
.menu-template-item__image{
    display: flex;
    justify-content: center;
    margin: $base-box-spacig;
}
.menu__container__divider{
   display: flex;
   flex-direction: row;
    padding: $base-box-spacig;
}
.menu-template-category__icon{
    font-size: 1.8rem;
    padding-right: $base-box-spacig;
}
.menu-template__items-container--list {
    display: flex;
    flex-direction: column;
    gap: $large-spacing;
    width: 100%;
}
.menu-template__items-container--list {
    display: flex;
    flex-direction: column;
    gap: $large-spacing;
}

.menu-template__items-container--grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: $large-spacing;
}