@import './../../../styles/variables';

.dish-form__container{
    display: flex;
    flex-direction: column;
    gap: $base-box-spacig;
    background-color: white;
    padding: $large-box-spacig;
    margin: $small-box-spacig;
    border-radius: $standard-border-raius;
    text-align: start;
}
.dish-form__input-container{
    display: flex;
    flex-direction: column;
    gap: $small-box-spacig;
}
.dish-form__input-container label{
    font-size: $small-font-size;
    color: $secondary-text-color;
}
.dish-form__input-container input{
    width: 100%;
}
.dish-form__title{
    color: $primary-text-color;
    font-size: $title-font-size;
    margin: 0px;
}
.dish-form__input__group{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 50px;
    gap: $small-box-spacig;
}
.dish-form__input__group button{
    display: flex;
    justify-content: center;
    height: 48px;
    width: 48px;
}
.dish-form__input__group--icon{
    display: flex;
    justify-content: center;   
}
.dish-form__image-input-container label{
    width: 100%;
}
.dish-form__image-temaplate:hover{
    cursor: pointer;
    opacity: 80%;
}
.dish-form__images-container{
    display: flex;
    gap: 12px;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.dish-form__get-image-temaplate{
    margin: 12px;
}