@import './../../../styles/variables';
.emulator__container{
    width: 100%; 
    border: 5px solid $light-color;
    margin: $small-box-spacig;
    border-radius: $standard-border-raius;
    min-height: 670px;
    max-height: 100vh;
}